body {
  margin: 0px 0px;
  padding: 0px 0px;
}
.a1 {
  background-color: white;
}
.top1 {
  background-image: url("image/macau1.jpg");
  background-size: 100% 100%;
  background-repeat:no-repeat;
  margin: 0px 1000px 0px 25px;
  padding: 50px 70px;
  border-style: none;
}
.top {
  font-size: 32px;
  font-family: Garamond, serif;
  margin: 25px 60px;
}
.background{
  padding: 332px;
  background-image: url("image/welcome\ background\ 1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.welcome{
  font-family: 'Courier New', monospace;
  font-size: 35px;
  color: white;
}



#attractions{
  margin-top: 200px;
  margin-bottom: 100px;
  font-family: Garamond, serif;
  text-align: center;
  font-size: 30px;
  color:rgb(0, 102, 255)
}

.part1{
  background-color: rgb(255, 255, 223);
  padding-top: 100px;
  padding-bottom: 700px;
}
.demo-image__lazy {
  margin-top: 110px;
  margin-left: 50px;
  float: left;
  width: 50%;
  height: 600px;
  overflow-y: auto;
}
.demo-image__lazy .el-image {
  display: block;
  min-height: 200px;
  margin-bottom: 10px;
}
.demo-image__lazy .el-image:last-child {
  margin-bottom: 0;
}
.ruin{
  margin: 180px 50px 100px 70px;
  height: 450px;
  width: 40%;
  font-size: 25px;
  float: left;
  text-align: left;
}
.ruinh1{
  font-family: Garamond, serif;
  font-style: oblique;
  color:rgb(255, 56, 56)
}
.ruinp{
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(66, 62, 0)
}

.part2{
  margin-top: 50px;
  padding-top: 800px;
  background-color: rgb(255, 236, 242);
}
.demo-image__lazy1 {
  margin-top: 150px;
  margin-right: 50px;
  float: right;
  width: 50%;
  height: 600px;
  overflow-y: auto;
}
.demo-image__lazy1 .el-image {
  display: block;
  min-height: 200px;
  margin-bottom: 10px;
}
.demo-image__lazy1 .el-image:last-child {
  margin-bottom: 0;
}
.Senado{
  margin: 250px 70px 100px 50px;
  height: 450px;
  width: 40%;
  font-size: 25px;
  float: right;
  text-align: left;
}
.Senadoh1{
  font-family: Garamond, serif;
  font-style: oblique;
  color:rgb(255, 56, 56)
}
.Senadop{
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(54, 0, 99)
}

.part1{
  background-image: url("image/part1\ background.jpg");
  background-size: 100% 100%;
  background-repeat:no-repeat;
  opacity: 0.3;
  background-color: rgb(255, 255, 223);
  padding-top: 100px;
  padding-bottom: 700px;
}
.demo-image__lazy {
  margin-top: 110px;
  margin-left: 50px;
  float: left;
  width: 50%;
  height: 600px;
  overflow-y: auto;
}
.demo-image__lazy .el-image {
  display: block;
  min-height: 200px;
  margin-bottom: 10px;
}
.demo-image__lazy .el-image:last-child {
  margin-bottom: 0;
}
.ruin{
  margin: 180px 50px 100px 70px;
  height: 450px;
  width: 40%;
  font-size: 25px;
  float: left;
  text-align: left;
}
.ruinh1{
  font-family: Garamond, serif;
  font-style: oblique;
  color:rgb(255, 56, 56)
}
.ruinp{
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(66, 62, 0)
}
